apiVersion: v1
kind: Pod
metadata:
  name: kube-podmaster
  namespace: kube-system
spec:
  containers:
  - name: controller-manager-elector
    image: gcr.io/google_containers/podmaster:{{ version }}
    command:
    - /podmaster
    - --dest-file={{ controller_manager_dest_file }}
    - --etcd-servers={{ etcd_servers }}
    - --key={{ controller_manager_key }}
    - --source-file={{ controller_manager_source_file }}
    - --whoami={{ whoami }}
    terminationMessagePath: /dev/termination-log
    volumeMounts:
    - name: manifest-src
      mountPath: /src/manifests
      readOnly: true
    - name: manifest-dst
      mountPath: /dst/manifests
  - name: scheduler-elector
    image: gcr.io/google_containers/podmaster:{{ version }}
    command:
    - /podmaster
    - --dest-file={{ scheduler_dest_file }}
    - --etcd-servers={{ etcd_servers }}
    - --key={{ scheduler_key }}
    - --source-file={{ scheduler_source_file }}
    - --whoami={{ whoami }}
    volumeMounts:
    - name: manifest-src
      mountPath: /src/manifests
      readOnly: true
    - name: manifest-dst
      mountPath: /dst/manifests
  hostNetwork: true
  volumes:
  - name: manifest-src
    hostPath:
      path: /srv/kubernetes/manifests
  - name: manifest-dst
    hostPath:
      path: /etc/kubernetes/manifests