[Unit]
After=etcd2.service
Description=flannel
Wants=etcd2.service

[Service]
Environment="FLANNELD_ETCD_ENDPOINTS={{ etcd_endpoints }}"
Environment="FLANNELD_IFACE={{ iface }}"
ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{"Network": "{{ network_cidr }}", "Backend": {"Type": "{{ backend_type }}"}}'
ExecStart=/opt/bin/flanneld
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
