[Unit]
Conflicts=etcd.service
Description=etcd2

[Service]
Environment="ETCD_ADVERTISE_CLIENT_URLS={{ advertise_client_urls }}"
Environment="ETCD_DATA_DIR={{ data_dir }}"
Environment="ETCD_DISCOVERY={{ discovery }}"
Environment="ETCD_ELECTION_TIMEOUT={{ election_timeout }}"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS={{ initial_advertise_peer_urls }}"
Environment="ETCD_LISTEN_CLIENT_URLS={{ listen_client_urls }}"
Environment="ETCD_LISTEN_PEER_URLS={{ listen_peer_urls }}"
Environment="ETCD_NAME={{ name }}"
ExecStart=/opt/bin/etcd
LimitNOFILE=40000
Restart=always
RestartSec=10s
User=etcd

[Install]
WantedBy=multi-user.target


Environment="ETCD_TEST={% for host in groups['coreos_private'] %}ip-{{ host | replace('.', '-') }}=http://{{ host }}:7001{%- if not loop.last -%},{%- endif %}{% endfor %}"
{{ name }}
{{ name | hash(sha1) }}
{{ name | hash(md5) }}
{{ name | checksum }}