[Unit]
After=kube-apiserver.service
Description=Kubernetes Controller Manager
Requires=kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-controller-manager \
--master={{ master }} \
--root-ca-file={{ root_ca_file }} \
--service-account-private-key-file={{ service_account_private_key_file }}
Restart=always
RestartSec=10s

[X-Fleet]
MachineMetadata=role=master