[Unit]
After=flannel.service
Description=docker
Requires=flannel.service

[Service]
EnvironmentFile=/run/flannel/subnet.env
ExecStart=/opt/bin/docker daemon --bip=${FLANNEL_SUBNET} --host=fd:// --mtu=${FLANNEL_MTU}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target