[Unit]
After=docker.socket flannel.service
Description=docker
Requires=docker.socket flannel.service

[Service]
EnvironmentFile=/run/flannel/subnet.env
ExecStart=/opt/bin/docker --daemon --host=fd:// --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target