[program:kafka]
autostart = {{ auto_start }}
autorestart = {{ auto_restart }}
command = {{ command }}
directory = {{ directory }}
logfile = {{ log_file }}
logfile_backups = {{ log_file_backups }}
logfile_maxbytes = {{ log_file_max_bytes }}
startretries = {{ start_retries }}
startsecs = {{ start_secs }}
stderr_logfile = {{ std_err_log_file }}
stderr_logfile_backups = {{ std_err_log_file_backups }}
stderr_logfile_maxbytes = {{ std_err_log_file_max_bytes }}
stdout_logfile = {{ std_out_log_file }}
stdout_logfile_backups = {{ std_out_log_file_backups }}
stdout_logfile_maxbytes = {{ std_out_log_file_max_bytes }}
stopasgroup = {{ stop_as_group }}
user = {{ user }}