apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  containers:
  - name: kube-apiserver
    image: gcr.io/google_containers/hyperkube:v{{ version }}
    command:
    - /hyperkube
    - apiserver
    - --admission-control={{ admission_control }}
    - --advertise-address={{ advertise_address }}
    - --allow-privileged={{ allow_privileged }}
    - --bind-address={{ bind_address }}
    - --client-ca-file={{ client_ca_file }}
    - --cloud-provider={{ cloud_provider }}
    - --etcd-servers={{ etcd_servers }}
    - --secure-port={{ secure_port }}
    - --service-account-key-file={{ service_account_key_file }}
    - --service-cluster-ip-range={{ service_cluster_ip_range }}
    - --tls-cert-file={{ tls_cert_file }}
    - --tls-private-key-file={{ tls_private_key_file }}
    ports:
    - containerPort: 443
      hostPort: 443
      name: https
    - containerPort: 8080
      hostPort: 8080
      name: local
    volumeMounts:
    - mountPath: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host