[Unit]
After=etcd2.service
Description=flannel
Wants=etcd2.service

[Service]
ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{"Network": "10.244.0.0/16", "Backend": {"Type": "vxlan"}}'
ExecStart=/opt/bin/flanneld
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
