zookeeper:
  hostname: {{ hostname }}
  image: {{ image }}
  name: {{ name }}
  net: {{ net }}
  ports:
  {% for port in ports %}
  - {{ port }}
  {% endfor %}
restart: {{ restart_policy }}
  volumes:
  {% for volume in volumes %}
  - {{ volume }}
  {% endfor %}